*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Node.js dependencies
node_modules

# Maven
/Engine/bin
/Engine/target
/Engine/assembly

# IntelliJ
.idea

# Eclipse
.project
.classpath
.settings

# Log files
*.log
